@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html {
    font-family: "Space Grotesk", sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

/*navbar*/
.navbar {
    background-color: black;
    width: 100%;
    height: 6.25rem;
    display: flex;
    align-items: center;
    font-weight: 700;
}
  
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
  
.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #ffdd57;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
}

.search-bar {
    max-width: 50rem;
    width: 100%;
    margin: 2rem auto;
}
  
.search-bar input {
    width: 100%;
    height: 3rem;
    font-family: "Space Grotesk", sans-serif;
    border: 1.5px solid #000;
    border-radius: 3rem;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-left: 1.5rem;
}
  
.search-bar input::placeholder {
    color: black;
    opacity: 0.7;
}

.category-choiche {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.category-choiche button {
    padding: 1rem 2.25rem;
    background-color: white;
    border: 1.5px solid #000;
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
}

.active {
    border: 1px solid #000;
    background: #F6FF00 !important;
}

button:hover {
  background-color: #F6FF00 !important;
  transition: all 0.5s;
}

.btn {
    cursor:pointer;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
  
.control-view {
    display: flex;
    gap: 0.5rem;
}

.control-view button {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
}

/*mod. di visualizzazione*/
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, max-content));
  gap: 1.5rem;
  justify-content: start;
}

.card {
  flex: 1 1 200px;
  max-width: 300px;
  background: white;
  border: 1.5px solid #000;
  border-radius: 1rem;
  padding: 1.5rem;
  position: relative;
  padding-bottom: 4rem;
}

.card h2 {
    font-size: 1.3125rem;
}

.card-grid:not(.list-view) .add-card {
  width: auto !important;
  flex: 1 1 200px !important;
  max-width: 300px !important;
}

.card ul li {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem;
}

.card-actions {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.75rem;
}
  
.card-action-btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    background-color: #FFF;
    border: 1px solid #000;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-grid.list-view .card {
    max-width: none;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    padding: 1.5rem;
}

.card-grid.list-view .add-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
}

.card-grid.list-view .card h2 {
  width: 200px;
}

.card-grid.list-view .add-card {
  width: 250px;
  flex-shrink: 0;
}

.card-grid.list-view .add-card-circle{
  padding: 0;
  margin-bottom: 0;
}

/*btn per aggiungere card*/
.add-card {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #000;
  border-radius: 1rem;
  padding: 2rem;
  background: white;
  cursor: pointer;
}
  
.add-card-circle {
  width: 4rem;
  height: 4rem;
  background: #F6FF00;
  border: 1.5px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
  
.add-card:hover {
  background: #fffed5;
}

/*modal*/
.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.modal.hidden {
    display: none;
}
  
.modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(2px);
}
  
.modal-content {
    position: relative;
    background: white;
    border: 2px solid #000;
    border-radius: 1rem;
    padding: 2rem;
    width: 32rem;
    z-index: 1000;
    box-sizing: border-box; 
}
  
.modal-content input,
.modal-content textarea {
    width: 100%;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-family: inherit;
    margin-bottom: 1.5rem;
    box-sizing: border-box; 
    font-size: 1rem;
}
  
.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
  
body.modal-open {
    overflow: hidden;
}

/* editor nota */
.note-editor {
    width: 90%;
    font-size: 1rem;
    max-width: 1000px;
    background: white;
    border: 2px solid #000;
    border-radius: 1.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
  
.note-body {
    padding: 2rem;
    flex: 1;
    background: var(--note-color, #);
}
  
.note-title {
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background: transparent;
    margin-bottom: 1.5rem;
    outline: none;
}
  
.note-text {
    width: 100%;
    height: 40vh;
    border: none;
    background: transparent;
    font-size: 1.25rem;
    line-height: 1.6;
    outline: none;
    resize: none;
}
  
.note-toolbar {
    background: #ffffff;
    border-top: 1.5px solid #000;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.note-tools-left,
.note-tools-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.note-tools-left{
    position: relative !important;
}

.note-tool-btn {
    border: 1.5px solid #000;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.25));
}
  
.note-save {
    border-radius: 6.25rem;
    padding: 1rem 1.5rem;
    background: #F6FF00;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "Space Grotesk";
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1.5px solid #000;
}

.note-save:hover {
    background-color: #dae01d !important;
    transition: all 0.5s;
}
  
.note-delete {
    border: 1.5px solid #000;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.25));
}

/*color picker*/
.color-picker {
    position: absolute;
    bottom: 3.5rem;
    background: white;
    border: 1.5px solid #000;
    border-radius: 1rem;
    padding: 0.75rem;
    display: flex;
    gap: 0.5rem;
    filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.25));
}

.color-picker.hidden {
    display: none;
}

.custom-color-wrapper {
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
}
  
#custom-color-picker {
    position: absolute;
    bottom: 2.2rem;
    left: 0;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 50%;
    border: 1.5px solid #000;
    cursor: pointer;
    appearance: none;
    background: transparent;
    opacity: 0;
}

.custom-color {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background: white !important;
    font-size: 1.2rem;
}
  
#custom-color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

.color-option.custom-color { position: relative; overflow: hidden; }

.custom-color-input {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  appearance: none;
}
  
.color-option {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: 1.5px solid #000;
    cursor: pointer;
}

.text-size-menu {
    position: absolute;
    bottom: 3.5rem;
    left: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 2000;
    background-color: white;
    border: 1.5px solid #000;
    border-radius: 1.5rem;
    padding: 0.75rem 1rem;
}

.text-size-menu.hidden {
    display: none;
}
  
.text-size-option {
    width: 2rem;
    height: 2rem;
    border: 1.5px solid #000;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 800;
    background-color: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* list view layout fluido*/

.card-grid.list-view {
  display: block !important;
}

.card-grid.list-view .card {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

.container {
  overflow-x: hidden;
}

.card-grid.list-view .card {
  margin-bottom: 1.5rem;
}

.card-grid.list-view .card:last-child {
  margin-bottom: 0;
}

.card-grid.list-view .card ul {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

.card-grid.list-view .card ul li {
  margin-left: 0;
}

@media (max-width: 700px) {
  .card-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
    margin-top: 1.25rem;
  }

  .card-header h1 {
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  .control-view {
    margin-top: 0;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

/*media queres*/
@media (max-width: 700px) {
  .card-grid.list-view .card {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-grid.list-view .card h2 {
    width: 100%;
  }

  .card-grid.list-view .card ul,
  .card-grid.list-view .card p {
    width: 100%;
  }

  .card-grid.list-view .card .card-actions {
    position: static;
    margin-top: 1rem;
    justify-content: flex-start;
  }
}

@media (max-width: 700px) {
  .card-grid.list-view .card {
    padding: 1rem 1.25rem;
    gap: 0.5rem;
  }

  .card-grid.list-view .card h2 {
    margin-bottom: 0.25rem;
  }

  .card-grid.list-view .card ul li {
    margin-bottom: 0.15rem;
  }

  .card-grid.list-view .card .card-actions {
    margin-top: 0.5rem;
    gap: 0.5rem;
  }

  .card-grid.list-view .card .card-action-btn {
    width: 2.2rem;
    height: 2.2rem;
  }
}

@media (max-width: 1200px) {
  .card-grid:not(.list-view) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
  }
}

@media (max-width: 800px) {
  .card-grid:not(.list-view) {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (max-width: 500px) {
  .card-grid:not(.list-view) {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}